@use '../abstracts' as *;

.hero__button-container,
.download__button-container {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  .hero__button,
  .download__button {
    padding: 1.1rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
  }
  .hero__button--cyan,
  .download__button--cyan {
    background-color: $StrongCyan;
    box-shadow: 0 3px 10px rgb(38 186 164 / 49%);
    margin-bottom: 1.2rem;
    @include responsive(tablet) {
      margin-bottom: 0;
      width: 14rem;
    }
  }
  .hero__button--blue,
  .download__button--blue {
    background-color: $LighBlue;
    box-shadow: 0 3px 10px rgb(97 115 255 / 49%);
    @include responsive(tablet) {
      width: 14rem;
    }
  }
  .hero__button--cyan:hover,
  .download__button--cyan:hover {
    background-color: hsl(171, 47%, 55%);
  }
  .hero__button--blue:hover,
  .download__button--blue:hover {
    background-color: hsl(233, 100%, 75%);
  }
}

.hero__button-container,
.download__button-container {
  @include responsive(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
