@use '../abstracts' as *;

.companies {
  &__container {
    padding: 1.2rem;
    text-align: center;
    display: grid;
    gap: 4.5rem;
    margin-bottom: 6rem;
    @include responsive(tablet) {
      padding-left: 5rem;
      padding-right: 5rem;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      gap: 3rem;
      max-width: 1260px;
      margin: 0 auto;
      margin-bottom: 6rem;
      margin-top: 2rem;
    }
    @include responsive(laptop-lg) {
      gap: 6rem;
    }
  }
  &__google,
  &__ibm,
  &__microsoft,
  &__hp,
  &__vg {
    @include responsive(tablet) {
      width: 100%;
    }
  }
}
