@use '../abstracts' as *;

// Feature sections
.feature-1,
.feature-2 {
  text-align: center;
  &__container {
    padding-left: 2rem;
    padding-right: 2rem;
    @include responsive(tablet) {
      margin: 0 auto;
      max-width: 450px;
    }
    @include responsive(laptop) {
      max-width: 650px;
    }
  }
  .feature-1__container {
    @include responsive(laptop-lg) {
      margin: none;
      max-width: none;
      padding: 0;
    }
  }
  .feature-2__container {
    @include responsive(laptop-lg) {
      max-width: none;
    }
  }
  .feature-2__title,
  .feature-2__desc,
  .feature-2__img {
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 650px;
    }
  }

  &__img {
    width: 100%;
  }
  .feature-1__img {
    @include responsive(laptop-lg) {
      width: auto;
    }
  }
  .feature-2__img {
    @include responsive(laptop-lg) {
      margin-top: 4rem;
    }
  }
  &__title {
    color: $DarkGrayishBlue;
  }
  .feature-1__title,
  .feature-1__desc {
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 650px;
      margin-top: 1.2rem;
    }
  }
  .feature-1__desc,
  .feature-2__desc {
    @include responsive(laptop-lg) {
      max-width: 500px;
    }
  }
  .feature-2__desc {
    @include responsive(laptop-lg) {
      margin-top: 1.2rem;
    }
  }
  &__desc {
    color: $GrayishBlue;
    line-height: 1.6;
    font-size: 0.9rem;
    margin-bottom: 3rem;
  }
  &__info {
    margin-bottom: 2.6rem;
  }
  .feature-1__info {
    @include responsive(laptop-lg) {
      width: 60%;
      margin-bottom: 0;
    }
  }
  &__info-container {
    margin-top: 2.8rem;
  }
  .feature-1__info-container {
    @include responsive(laptop) {
      display: flex;
      gap: 3rem;
    }
    @include responsive(laptop-lg) {
      flex-direction: column;
      text-align: left;
    }
  }
  .feature-1__desktop-section {
    @include responsive(laptop-lg) {
      display: flex;
      gap: 5.5rem;
      margin-top: 4rem;
      margin-bottom: 6rem;
    }
    @include responsive(desktop) {
      margin: 0 auto;
      max-width: 1700px;
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
  }
  .feature-2__info-container {
    padding-left: 1rem;
    padding-right: 1rem;

    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1050px;
    }
  }
  .feature-2__info-icon-container {
    @include responsive(laptop) {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 3rem;
    }
  }
  &__info-heading {
    color: $DarkGrayishBlue;
    margin-bottom: 0;
  }
  &__info-desc {
    color: $GrayishBlue;
    line-height: 1.6;
    font-size: 0.9rem;
  }
  &__info--mb {
    margin-bottom: 7.4rem;
  }
}
