@use '../abstracts' as *;

.hero {
  background-image: url("/images/bg-header-mobile.png");
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
  text-align: center;
  @include responsive(laptop-lg) {
    background-image: url("/images/bg-header-desktop.png");
  }
  &__container {
    padding: 10rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include responsive(tablet) {
      margin: 0 auto;
      max-width: 450px;
    }
    @include responsive(laptop) {
      max-width: 650px;
    }
  }
  &__title {
    color: $DarkGrayishBlue;
    line-height: 1.4;
    margin-top: 4rem;
  }
  &__desc {
    color: $GrayishBlue;
    line-height: 1.6;
    font-size: 0.9rem;
    margin-top: 0;
  }
}
