// Colors
// Primary colors
$StrongCyan: hsl(171, 66%, 44%);
$LighBlue: hsl(233, 100%, 69%);

// Neutral colors
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

// Fonts
// Primary Font
$PrimaryFont: "Bai Jamjuree", sans-serif;
